@{
    ViewData["Title"] = "Cross Site Scripting (XSS)";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="CrossSiteScripting" method="get">
    <input type="text" name="searchText" value="" /> <br/>
    <input type="submit" value="Search" /> <br/>
</form>

<h1>Searching for @this.Html.Raw(this.Model)</h2>
